langchain==0.3.26
langchain_community==0.3.27
langchain_experimental==0.3.4
langchain_google_genai==2.1.8
langchain_groq==0.3.6
langchain_huggingface==0.3.0
python-dotenv==1.1.1
PyMySQL==1.1.1
SQLAlchemy==2.0.41